:root {
    --background: #393E46;
    --teal: #00ADB5;
    --light-gray: #EEEEEE;
    --dark-background: #222831;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.content {
    min-height: calc(100vh - 190px);
}